.git
.idea
.vscode

bin
release
tmp
temp
temp_extract

*.log
*.pid
*.db
cliplink
clipboard
!runtime/cliplink

node_modules
web/node_modules
web/.next
web/out
web/build
web/dist

internal/static/dist

.env
.env.*
web/.env*

Dockerfile*
docker-compose*.yml
!Dockerfile.runtime
